.userCard{
    border: 1px solid gray;
    padding: 10px;
    margin-bottom: 20px;
    position: relative;
}

.userCard ul {
list-style: none;
}

.delBtn{
  
    background-color: brown;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    position: absolute;
    top:5px;
    right:50px;
    cursor: pointer;

}

.editBtn{
    background-color: green;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    position: absolute;
    top:5px;
    right:5px;
    cursor: pointer;
}